html {
  background-color: #ddd;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-weight: 1000;
}

h2 {
  text-decoration-line: underline;
  font-size: 30px;
}

thead {
  background-color: lightgreen;
}

tbody {
  background-color: white;
}

.code {
  font-family: monospace;
  background-color: #ddd;
}
