/* Global */
html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

body {
  margin: 0px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position: fixed;
  height: 69px;
  width: 100%;
  margin: 10px auto;
}

header > img {
  height: 50px;
}

li {
  display: inline-block;
}

a {
  color: seashell;
}

a:visited {
  color: seashell;
}

/* Mission Section */
#mission {
  position: relative;
  top: 69px;
}
