/* Global */
html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

body {
  margin: 0px;
}

:target {
    display: block;
    position: relative;
    top: -69px;
    visibility: hidden;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  height: 69px;
  width: 100%;
  top: 0;
  z-index: 10;
}

header > img {
  height: 50px;
  margin-left: 10px;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: seashell;
}

a:visited {
  color: seashell;
}

/* Mission */
#mission-content {
  background-image: url("images/background.jpg");
  height: 700px;
  width: 1200px;
  margin: 69px auto;
  display: flex;
  align-items: center;
}

#mission-content > div {
  margin: 0 auto;
  background-color: black;
  width: 100%;
}

#mission-content > div > * {
  margin: 10px auto;
}

#mission-content > div > h2 {
  margin-bottom: 20px;
}

/* Tea of the Month */
#totm-content {
  width: 1000px;
  margin: 20px auto;
}

#totm-content > h4 {
  margin-bottom: 20px;
}

#totm-content > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#totm-content > div > figure {
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
}

#totm-content > div > figure > img {
  height: 200px;
}

#totm-content > div > figure > figcaption > h4 {
  margin: 10px;
}

/* Locations */
#locations-content {
  background-image: url("images/locations.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#locations-content > div > h2 {
  margin: 0 0 15px 0;
}

#locations-content > div > div {
  display: inline-block;
  width: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1;
}

/* Footer */
footer > div {
  height: 200px;
}

footer > h5 {
  text-align: left;
  margin: 0 0 30px 20px;
}
