/* Global */
html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

body {
  margin: 0px;
}

section,
footer {
  position: relative;
  top: 69px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  height: 69px;
  width: 100%;
  z-index: 10;
}

header > img {
  height: 50px;
  margin-left: 10px;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: seashell;
}

a:visited {
  color: seashell;
}

/* Mission */
#mission {
  background-image: url("images/background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#mission > div {
  margin: 0 auto;
  background-color: black;
  width: 100%;
}

#mission > div > * {
  margin: 10px auto;
}

#mission > div > h2 {
  margin-bottom: 20px;
}

/* Tea of the Month */
#totm {
  width: 1000px;
  margin: 20px auto;
}

#totm > h4 {
  margin-bottom: 20px;
}

#totm > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#totm > div > figure {
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
}

#totm > div > figure > img {
  height: 200px;
}

#totm > div > figure > figcaption > h4 {
  margin: 10px;
}

/* Locations */
#locations {
  background-image: url("images/locations.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#locations > div > div {
  display: inline-block;
  width: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1;
}
